#loader, #faq-loader {
    width: 80px;
    margin: 0 auto 64px auto;
    display: block;
}

#faq-loader {
    width: 80px;
    margin: 0 auto;
    display: block;
}

cxco-root {
    position: fixed;
}

@media only screen and (max-width: 768px) {
    #vvaa-service {
        overflow: hidden;
    }
}
