p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

#bot {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    box-shadow: 2px 2px 4px 2px rgb(65 65 65 / 20%);
    border: 4px solid #f5821f;
    border-radius: 50%;
}

#bot.active-open, #bot.active-open:hover {
    background: #f2f2f4 !important;
    height: auto;
    border: none;
    border-radius: 0;
}

#bot.semi-active {
    background: #f5821f;
    border-radius: 30px;
    position: fixed;
    width: 220px;
    transition: all .4s;
    z-index: 100;
}

#bot.semi-active:before {
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    content: "";
    left: 10px;
    top: 9px;
}

#bot.active-open {
    bottom: 0;
    width: 400px;
    border-radius: 5px 5px 0 0;
    background: #f5821f;
}

#bot.active-open #bot_header:before {
    display: none;
    background: white;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

#bot.active-open:before {
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    content: "";
    left: 10px;
    top: 9px;
}

#bot.semi-active h3, #bot.semi-active h4 {
    transition: all 1s;
    opacity: 1;
    display: block;
}

#bot.active-open h5, #bot.active-open h6 {
    display: block;
}

#bot.active-open h3, #bot.active-open h4 {
    display: none !important;
}

#bot.active-open #bot_header:hover {
    background: #f5821f;
    height: 65px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: all .2s;
}

#bot.active-open #bot_header {
    background: #f5821f;
    height: 65px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: all .2s;
}

#bot_header:before {
    display: none;
    background: white;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

#bot.semi-active #bot_header img {
    width: 26px;
    margin: 6px 17px 5px 14px;
}

#bot.active-open #bot_header img {
    width: 32px;
    margin: 15px 17px 5px 16px;
}

#bot.active-open #closeBot img {
    width: 18px;
    margin: 11px 17px 5px 12px;
}

#bot_header img {
    position: relative;
    width: 32px;
    float: left;
    margin: 3px 17px 5px 10px;
    z-index: 2;
}

#bot_header h5, #bot_header h3 {
    transition: all 1s;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    margin-top: 12px;
}

#bot_header h6, #bot_header h4 {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 14px;
    line-height: 16px;
    margin: 2px 0 0 0;
    font-weight: 100 !important;
}

#bot_header h3 {
    opacity: 0;
    transition: none;
    font-size: 18px;
    margin-top: 7px;
}

#bot_header h4 {
    transition: none;
    opacity: 0;
    margin: 0;
}

#bot_header h5, #bot_header h6 {
    display: none;
}

#bot_header h5 {
    margin-top: 0;
    padding-top: 10px;
}

#bot_header span {
    display: none;
    background: #ff9852;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 12px;
}

#bot.active-open #bot_header span, #bot.active-open #bot_header, #bot.active-open #bot_body, #bot.active-open #bot_input {
    display: block;
}

#bot_header span:hover {
    background: none;
}

#bot_header span img {
    width: 18px;
    float: none;
    margin: 11px 0 0 11px;
}

#bot_body {
    display: none;
    background: #f2f2f4;
    padding: 0 16px 16px 60px;
    height: 395px;
    width: 100%;
    overflow-y: auto;
}

#bot_body.typingDisabled {
    height: 500px;
}

.fade-in > br:first-child {
    display: none;
}
.revert-choice {
    cursor: pointer;
    color: #6b6b6b;
    transition: all .2s;
    border: 1px solid #6b6b6b;
    border-radius: 15px;
    height: 30px;
    padding: 0 30px 0 10px;
    margin: 10px 0;
    display: inline-block;
    line-height: 30px;
    position: relative;
}

.revert-choice:after {
    content: "";
    background: url('https://www.vvaa.nl/-/media/service/icons/gray/chevron.svg');
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 9px;
    margin: auto;
    background-size: 13px 13px;
    transform: rotate(180deg);
    transition: all .2s;
}

.revert-choice.active:after {
    transform: rotate(0deg);
}

.revert-choice:hover {
    color: black;
}

.revert-choice + .conv-options {
    display: none;
}

.revert-choice.active + .conv-options {
    display: block;
    background: white;
    border: 1px solid #ccc;
}

.revert-choice.active + .conv-options .conv_option {
    background: #fc7c02;
}

.fade-in.visible {
    display: block;
}

.conv_message, #waiting-element {
    margin: 24px 0;
}

.conv_message.options.fullfilled > p:last-of-type {
    background: white;
}

.conv_message.options.fullfilled > p:last-of-type span:first-child {
    margin-top: 10px;
}

.conv_message p img, .conv_message ul img, #waiting-element p img, #waiting-element ul img {
    width: 33px;
    margin-bottom: 2px;
}

.conv_message p, .conv_message ul, #waiting-element p, #waiting-element ul {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 90%;
    padding: 8px;
    font-size: 14px;
    color: #3f434a;
    line-height: 1.5;
    margin-bottom: 5px;
    clear: both;
    float: left;
    min-width: 40px;
}

.conv_message p:last-of-type + ul, .conv_message ul:last-of-type + ul, #waiting-element p:last-of-type + ul,  #waiting-element ul:last-of-type + ul {
    display: none;
}

.conv_message .typing, #waiting-element .typing {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(65, 65, 65, 0.2);
    max-width: 90%;
    padding: 12px;
    float: left;
    clear: both;
    margin-bottom: 5px;
}

.conv_message .typing span, #waiting-element .typing span {
    display: block;
    background: url('https://www.vvaa.nl/-/media/service/icons/typing.svg');
    background-size: 33px 33px;
    width: 33px;
    height: 24px;
    margin-bottom: 2px;
}

.conv_message ul, #waiting-element ul {
    padding-left: 32px;
    padding-top: 20px;
    margin-top: -21px;
}

.conv_message.options p:last-of-type, #waiting-element.options p:last-of-type {
    width: 100%;
}

.conv_message.userAnswer p, #waiting-element.userAnswer p {
    background: #acacac;
    color: white;
    float: right;
    margin: 5px 0 10px 0;
}

.conv_message.feedback p, #waiting-element.feedback p {
    width: 100%;
    margin-bottom: 0;
}

.conv_message.loading, #waiting-element.loading {
    margin-top: -15px;
}

.conv_message.waiting:last-child, #waiting-element.waiting:last-child {
    display: none;
}

.conv_message a {
    font-family: Arial, sans-serif !important;
}

.conv_message u {
    cursor: pointer;
    font-family: Arial, sans-serif !important;

}

.conv_message em {
    font-family: Arial, sans-serif !important;
}

.conv_message.options.fullfilled div + p {
    padding: 0;
}

.conv_message.fullfilled .conv_message {
    margin-top: 0;
}

.conv_message p {
    position: relative;
}

.conv_message.last > div > p:last-child:before {
    position: absolute;
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid orange;
    content: "";
    left: -45px;
    bottom: 0;
    z-index: 1;
}

.conv_message.last > div > p:last-child:after {
    background: url('https://www.vvaa.nl/-/media/service/icons/vive.svg');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    content: "";
    left: -38px;
    bottom: 8px;
    z-index: 2;
}

.conv_message hr {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: none;
    display: block;
    height: 5px;
    position: relative;
    width: 100%;
}

#fulfillment {
    margin-top: 5px;
    width: 100%;
    background: transparent !important;
}

#fulfillment .conv_option:last-child {
    margin-bottom: 10px;
}

.feedback-element {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(65, 65, 65, 0.2);
    max-width: 90%;
    padding: 12px;
    color: #2d2d2d;
    line-height: 1.5;
    margin-bottom: 5px;
    clear: both;
    float: left;
}
.conv_message .conv_options {
    background: none;
    box-shadow: none;
    margin-top: 5px;
    padding: 0 !important;
}
.conv_option {
    display: block;
    background: #f5821f;
    color: white;
    padding: 10px;
    border-radius: 24px;
    line-height: 18px;
    text-align:center;
    font-family: Arial, sans-serif !important;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .2s;
}

.conv_option:last-child {
    margin-bottom: 0;
}

.conv_option:hover, .conv_option.active {
    background: #8e4009;
    color: white;
}

.conv_option.noclick {
    pointer-events: none;
}

#bot_input {
    background: white;
    display: none;
    height: 57px;
    width: 100%;
    border-top: .5px solid #aaa;
    z-index: 2;
    padding: 11px 15px;
    margin-top: 10px;
}

#bot_input input {
    height: 33px;
    width: 83%;
    float: left;
    border: none;
    font-family: Arial, sans-serif !important;
    color: #3f434a;
    font-size: 14px;
    padding: 0 10px;
    margin-right: 5px;
}

#bot_input button {
    float: right;
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 4px;
    color: #f5821f;
}

#bot_input button img {
    width: 100%;
}

#waiting-element {
    display: none;
}

::-webkit-input-placeholder {
    color: #3e3e3e;
	text-transform: none;
}
::-moz-placeholder {
    color: #3e3e3e;
	text-transform: none;
}
:-ms-input-placeholder {
    color: #3e3e3e;
	text-transform: none;
}
:-moz-placeholder {
    color: #3e3e3e;
	text-transform: none;
}

embeddedservice-chat-header svg.slds-icon-text-default {
    fill: rgb(255, 255, 255) !important;
}
