#category-select {
    background: $light-gray;
    padding: 64px 80px 42px 80px;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: $light-gray;
        width: 2000px;
        margin-left: -2000px;
        content: "";
    }
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: $light-gray;
        width: 2000px;
        margin-right: -2000px;
        content: "";
    }
    h3 {
        color: $orange;
        font-weight: 500 !important;
        font-size: 32px;
        text-align: center;
        margin-bottom: 52px;
    }
}
.category {
    background: white;
    height: 150px;
    margin-bottom: 22px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
    transition: background .2s;
    img {
        width: 82px;
        margin: 15px auto 12px auto;
        display: block;
        pointer-events: none;
        &.active-icon {
            display: none;
        }
    }
    span {
        display: block;
        font-family: 'itc-avant-garde-gothic-pro', sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 18px;
    }
    &:hover {
        border: 1px solid $orange;
        box-shadow: 0 3px 8px #ccc;
    }
    &.active {
        background: $orange;
        span {
            color: white;
        }
        img {
            display: none;
            &.active-icon {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #category-select {
        .category {
            img {
                width: 70px;
            }
            span {
                font-size: 18px;
                position: absolute;
                bottom: 35px;
                line-height: 21px;
                left: 0;
                right: 0;
                margin: auto;
                width: 80%;
                left: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        #category-select, #self-service {
            padding: 32px 0;
            h3 {
                font-size: 21px;
                margin-bottom: 32px;
                padding: 0 20px;
                line-height: 32px;
            }
        }
        #category-select {
            padding-bottom: 0;
            padding: 32px 0 42px 0;
            .category {
                height: 90px;
                padding: 5px;
                position: relative;
                img {
                    width: 40px;
                    margin: 0px auto 12px auto;
                }
                span {
                    font-size: 12px;
                    position: absolute;
                    bottom: 5px;
                    text-align: center;
                    width: 100%;
                    left: 0;
                }
            }
        }
        #self-service {
            padding: 10px 0 0 0;
        }
        #subcategories {
            padding: 32px 0 0 0;
            h3 {
                margin-bottom: 20px;
            }
        }
        #category-select h3 {
            margin-bottom: 32px;
        }
    }
}
